name: Build and run the unit tests -Horizons

on:
  push:
    branches: [ "develop" ]
jobs:
  build_run_unit_test:
    runs-on: ubuntu-latest

    steps:
    - name: check the repo
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run unit test
      run: dotnet test Horizons.Tests.Unit/Horizons.Tests.Unit.csproj --no-build --verbosity normal
